#wrapper {
    background-color: black;
    width: 960px;
}

#top {
    background-color: sandybrown;
    height: auto;
    width: 900px;
    padding: 20px;
    margin: 1%;
}

#title {
    text-align: center;
}

.logo {
    position: relative;
    height: 75px;
    width: 100px;
    align-content: center;
}

div {
    display: block;
}

.floatLeft {
    float: left;
}

.marginAuto {
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding-right: 10px;
    padding-left: 10px;
    width: 565px;
}

.clearFix {
    clear: both;
}

.overFlow {
    overflow: hidden;
}

.displayInLine {
    display: inline;
}

.floatRight {
    float: right;
}


#menu {
    text-align: right;
    width: auto;
}

#image {
    position: relative;
    text-align: center;
}

.col {
    background-color: burlywood;
    width: 420px;
    padding: auto;
    margin: 1%;
}

.contentMain {
    background-color: rosybrown;
    width: 900px;
    padding: 20px;
    margin: 1%;
    height: 545px;
}

.image {
    position: relative;
    height: 545px;
    width: 100%;
}

.colHeading {
    text-align: center;
}

.small {
    width: 100px
}

.text {
    position: absolute;
    background-color: black;
    color: white;
    opacity: 0.8;
    width: 480px;
    height: 554px;
}