#wrapper {
    background-color: darkgray;
    width: 960px;
}

#top {
    background-color: sandybrown;
}

#title {
    text-align: center;
}

div {
    display: block;
}

.floatLeft {
    float: left;
}

.marginAuto {
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding-right: 10px;
    padding-left: 10px;
    width: 565px;
}

#sidebar {

}

.clearFix {
    clear: both;
}

.overFlow {
    overflow: hidden;
}

.displayInLine {
    display: inline;
}

.floatRight {
    float: right;
}


#menu {
    text-align: right;
}

.row {

}

.col {
    background-color: burlywood;
    width: 42%;
    padding: 20px;
    margin: 1%;
}

.colMain {
    background-color: rosybrown;
    width: 80%;
    padding: 20px;
    margin: 1%;
    height: auto;
}